<div [ngStyle]="{'text-align': textAlignment$ | async}">
  <h2>{{'customers.customersListPage.pageTitle' | translate}}</h2>
</div>
<table mat-table [dataSource]="customers$" matSort class="mat-elevation-z8">

  <!-- Full name Column -->
  <ng-container matColumnDef="customerFullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'customers.customersListPage.table.customerFullName' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align': textAlignment$ | async}">
      {{element.customerName + ' ' + element.customerSurname}}
    </td>
  </ng-container>

  <!-- Cell phone Column -->
  <ng-container matColumnDef="cellPhone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'customers.customersListPage.table.cellPhoneNumber' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.cellPhone}} </td>
  </ng-container>

  <!-- Home address Column -->
  <ng-container matColumnDef="homeAddress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'customers.customersListPage.table.homeAddress' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align': textAlignment$ | async}">
      {{element.homeAddress}}
    </td>
  </ng-container>

  <!-- description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'customers.customersListPage.table.description' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align': textAlignment$ | async}">
      {{element.description}}
    </td>
  </ng-container>

  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align': textAlignment$ | async}">
      <button mat-icon-button color="primary" matTooltip="{{'customers.customersListPage.actionBtn.preview' | translate}}">
        <mat-icon>contact_page</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="{{'customers.customersListPage.actionBtn.edit' | translate}}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="{{'customers.customersListPage.actionBtn.delete' | translate}}">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
</table>
